<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/auth.css" />
        <title>Login</title>
    </head>
    <body>
        <div class="auth-page">
            <div class="auth-divPosition loginDiv">
                <div class="divInner">
                    <h1>Log In</h1>
                    <br /><br />
                    <form action="/auth/login_process" method="post">
                        <input
                            type="text"
                            name="id"
                            placeholder="ID"
                            required
                        />
                        <input
                            type="password"
                            name="pw"
                            placeholder="Password"
                            required
                        />
                        <br /><br /><br />
                        <p margin-top="50px">
                            <a href="/auth/findpassword"
                                >비밀번호를 잊어버렸어요</a
                            >
                        </p>
                        <button
                            type="button"
                            class="button leftButton"
                            onclick="location.href='/auth/register'"
                        >
                            Sign Up
                        </button>
                        <button type="submit" class="button rightButton">
                            Log in
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
