<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <title>일정 둘러보기 !!</title>

        <link rel="stylesheet" href="/css/sidebar.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/lookSchedule.css" />
        <link rel="stylesheet" href="/css/schedule.css" />
        <link rel="stylesheet" href="/css/follow.css" />
        <script src="/views/components/follow.js"></script>
    </head>
    <body>
        <div class="menuBar">
            <a href="/main"><img class="logo" src="/img/yaneodu_logo.png" /></a>
            <hr color="lightgray" width="80%" />
            <nav>
                <ul>
                    <li>
                        <a href="/main" id="home">홈</a>
                    </li>
                    <li>
                        <a
                            class="selected"
                            href="/auth/lookSchedule"
                            id="lookSchedule"
                            >일정 둘러보기</a
                        >
                    </li>
                    <li>
                        <a href="/auth/lookDiary" id="lookDiary"
                            >일기 둘러보기</a
                        >
                    </li>
                </ul>
            </nav>

            <form action="/auth/logout" method="get">
                <button type="submit" class="logoutBtn">로그아웃</button>
            </form>
        </div>

        <div class="mainScreen" id="mainScreen"></div>

        <div class="followContainer">
            <div id="followTitle">
                <h1>팔로우 목록</h1>
                <button class="addFollowBtn">팔로우 추가</button>
                <hr width="80%" />
            </div>
            <div id="followList" class="followList"></div>
        </div>

        <script src="/views/components/lookSchedule.js"></script>
        <script>
            drawLookScheduleList();
            window.addEventListener("load", function () {
                drawFollowList();
            });
        </script>
    </body>
</html>
