<!DOCTYPE html>
<html>
    <head>
        <title>달력</title>
        <link rel="stylesheet" href="/css/modal.css" />
    </head>

    <body>
        <button id="modal-btn">모달 열기</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>모달 내용입니다.</p>
                <input type="text" id="inputText" placeholder="입력하세요" />
                <button id="submitBtn">입력완료</button>
                <p id="displayText"></p>
            </div>
        </div>

        <script src="/views/components/modal.js"></script>
    </body>
</html>
